<div class="row collapse">
<%= form_for(@pin) do |f| %>
  <% if @pin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pin.errors.count, "error") %> prohibited this pin from being saved:</h2>

      <ul>
      <% @pin.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="row collapse">
      <div class="small-3 large-2 columns">
        <span class="prefix"><%= f.label :photo %></span>
      </div>
      <div class="small-9 large-10 columns">
        <%= f.text_field :photo %>
      </div>
    </div>

    <div class="row collapse">
      <div class="small-3 large-2 columns">
        <span class="prefix"><%= f.label :description %></span>
      </div>
      <div class="small-9 large-10 columns">
        <%= f.text_field :description %>
      </div>
    </div>

    <div class="row collapse">
      <div class="small-3 large-2 columns">
        <%= f.submit data: { confirm: '¿Estas Seguro?' }, class: 'button success' %>
        <%= link_to 'Back', pins_path, class: 'button alert' %>
      </div>
    </div>
<% end %>
  </div>
