<div class="row collapse">
<p id="notice"><%= notice %></p>

<p>
  <strong>Photo:</strong>
  <%= @pin.photo %>
</p>

<p>
  <strong>Description:</strong>
  <%= @pin.description %>
</p>

<%= link_to 'Edit', edit_pin_path(@pin), class: 'button success' %>
<%= link_to 'Back', pins_path, class: 'button alert' %>
</div>